{{ define "main" }}

{{- $details := slice -}}
{{- range .Pages -}}
  {{- $ctx := partial "result" . -}}
  {{- $details = $details | append $ctx -}}
{{- end -}}

<section class="section">
  <main>
    <article>
      <h1 class="title is-3 mb-6">{{ .Title }}</h1>

      <article class="message is-danger mb-6">
        <div class="message-header">
          <p>No longer open source</p>
        </div>
        <div class="message-body">
          {{- range where $details "ctx.Params.rugpulled" "eq" true -}}
            <p class="block">
              <a href="{{ .ctx.RelPermalink }}" class="is-size-5">{{ .ctx.Title }}</a>
              <span class="is-size-6">
                - {{ .ctx.Params.summary }}
              </span>
            </p>
          {{- end -}}
        </div>
      </article>

      {{- range slice
            (dict "level" "High" "color" "is-warning")
            (dict "level" "Medium" "color" "is-info")
            (dict "level" "Low" "color" "is-success")
      -}}
        <article class="message {{ .color }} mb-6">
          <div class="message-header">
            <p>{{ .level }} risk projects</p>
          </div>
          <div class="message-body">
            {{- range where (where $details "ctx.Params.rugpulled" "ne" true) "risk" .level -}}
              <p class="block">
                <a href="{{ .ctx.RelPermalink }}" class="is-size-5">{{ .ctx.Title }}</a>
                <span class="is-size-6">
                  - {{ .ctx.Params.summary }}
                </span>
              </p>
            {{- end -}}
          </div>
        </article>
      {{- end -}}
    </article>
  </main>
</section>
{{ end }}

