<section class="section is-small pl-0">
<h2 class="title is-3 mb-1">Contribution Requirements</h2>

<div class="field is-grouped is-grouped-multiline mt-3 mb-5">
  <span class="tag {{ .agreements.tag }}">{{ .agreements.risk }} Risk</span>
</div>

<p class="block">
  {{ .agreements.description }}
</p>

{{ if .agreements.nonprofitDowngrade }}
<p class="block">
Typically, this would be computed as high risk.
However, {{ .ctx.Title }} is owned by
<a href="{{ .agreements.orgLink }}">{{ .agreements.org }}</a>,
a nonprofit organization with a mission related to developing open source software.
</p>
{{ end }}

<p class="block">
  {{- if .ctx.Params.agreements.ref -}}
  <a href="{{ .ctx.Params.agreements.ref}}">Reference</a>
  &#124;
  {{ end }}
  <a href="/factor/agreements/">Learn more</a>
</p>
</section>
