{{- if .agreements.show -}}
<section class="section is-small pl-0">
<h2 class="title is-3 mb-1">Contribution Requirements</h2>

<div class="field is-grouped is-grouped-multiline mb-5">
  <div class="control">
    <a class="tags has-addons" href="/factor/agreements/">
      <span class="tag is-info is-light">Risk</span>
      <span class="tag {{ .agreements.tag }}">{{ .agreements.risk}}</span>
    </a>
  </div>
</div>

<p class="block">
  {{ .agreements.description }}
</p>

<p class="block">
  {{- if .ctx.Params.agreements.ref -}}
  <a href="{{ .ctx.Params.agreements.ref}}">Reference</a>
  &#124;
  {{ end }}
  <a href="/factor/agreements/">Learn more</a>
</p>
</section>
{{- end -}}

