{{ if .Params.pledge.known }}

{{- $risk := "Low" -}}
{{- $riskColor := "is-success" -}}
{{- if .Params.rugpulled -}}
  {{- $risk = "High" -}}
  {{- $riskColor = "is-danger" -}}
{{- end -}}

<section class="section is-small pl-0">
<h2 class="title is-3 mb-1">Open Source Pledge</h2>

<div class="field is-grouped is-grouped-multiline mb-5 mt-3">
  <div class="control">
    <a class="tags has-addons" href="/factor/pledge/">
      <span class="tag {{ $riskColor }}">{{ $risk }} Risk</span>
    </a>
  </div>
</div>

<p class="block">
This project has <a href="{{ .Params.pledge.ref }}">publicly pledged</a> to stay open source indefinitely.
{{ if .Params.rugpulled }}
Unfortunately, this promise was broken.
{{ end }}
</p>


<p class="block">
  <a href="{{ .Params.pledge.ref}}">Reference</a>
  &#124;
  <a href="/factor/pledge/">Learn more</a>
</p>
</section>
{{ end }}
