<h1 class="title is-1 mb-0">
  {{ .Title }}
</h1>

<div class="tags mb-4 mt-3">
  <a class="tag is-info" href="{{ .Params.website }}">Website</a>
  <a class="tag is-info" href="{{ .Params.code }}">Source Code</a>
</div>

<p class="block mt-0 mb-6">
  {{ $owner := .Params.tm.owner }}
  {{- if $owner -}}
  <span class="is-size-6 is-italic">
      {{ .Params.tm.mark }} is a
      <a href="{{ .Params.tm.ref }}">
        {{ .Params.tm.status | lower }} trademark
      </a>
      of 
      {{- range (where $.Site.Pages "Section" "orgs") -}}
      {{- if eq .Title $owner -}}
        <a href="{{ .RelPermalink }}">
        {{ .Title }}
        </a>
      {{- end -}}
      {{- end -}}
  </span>
  {{- else if .Params.org -}}
    {{ $owner = .Params.org }}
    A project by
    {{- range (where $.Site.Pages "Section" "orgs") -}}
    {{- if eq .Title $owner -}}
      <a href="{{ .RelPermalink }}">
      {{ .Title }}
      </a>
    {{- end -}}
    {{- end -}}
  {{- else -}}
    {{ errorf "%s should specify a trademark owner or project owner" .Title }}
  {{- end -}}
  <br />
  <span class="is-size-5">
    {{ .Params.summary }}
  </span>
</p>

