{{- define "extrahead" -}}
<meta name="description" content="Relicensing Monitor: Open source projects by trademark owner">
{{- end -}}

{{ define "main" }}
<section class="section">
  <main>
    <article class="is-size-5">
      <section class="section hero is-small">
        <div class="hero-body">
          <h1 class="title is-3">{{ .Title }}</h1>

          <div class="notification is-info is-dark mb-4">
            <h2 class="title is-5 mb-3 mb-2">Risk Guide</h2>
            <div class="tag is-success is-hoverable mb-2 mr-2 is-medium">Low Risk</div>
            <div class="tag is-info is-hoverable mb-2 mr-2 is-medium">Mild Risk</div>
            <div class="tag is-warning is-hoverable mb-2 mr-2 is-medium">High Risk</div>
            <div class="tag is-danger is-hoverable mb-2 mr-2 is-medium">No Longer Open Source</div>
          </div>

{{- $details := slice -}}
{{- $owners := slice -}}
{{- range (where .Site.Pages "Section" "projects") -}}
  {{- if .Params.tm.owner -}}
    {{- $owners = $owners | append .Params.tm.owner -}}
  {{- end -}}
{{- end -}}
{{- $owners = sort (uniq $owners) -}}

{{- $riskColors := dict
      "Low" "is-success"
      "Mild" "is-info"
      "High" "is-warning"
-}}

{{- range $owners -}}
  {{- $owner := . -}}

  {{ $foundOwner := false }}
  {{- range (where $.Site.Pages "Section" "orgs") -}}
  {{- if eq .Title $owner -}}
    {{ $foundOwner = true }}
    <a href="{{ .RelPermalink }}">
    <div class="notification mb-4">
    <h2 class="subtitle is-4 mb-3">{{ .Title }}</h2>
  {{- end -}}
  {{- end -}}
  {{ if not $foundOwner }}
    {{ errorf "Organization not found" }}
  {{ end }}

  {{- range (where $.Site.Pages "Section" "projects") -}}
    {{- if eq .Params.tm.owner $owner -}}
      {{- $ctx := partial "result" . -}}
      {{- $color := index $riskColors $ctx.risk -}}
      {{- if .Params.rugpulled -}}
        {{- $color = "is-danger" -}}
      {{- end -}}
      <span class="tag {{ $color }} is-hoverable mb-2 mr-2 is-medium">{{ .Params.title }}</span>
    {{- end -}}
  {{- end -}}
  </div>
  </a>
{{- end -}}

        </div>
      </section>
    </article>
  </main>
</section>
{{- end -}}
