{{- define "extrahead" -}}
<meta name="description" content="Relicensing Monitor: Relicensing risks by organization">
{{- end -}}

{{ define "main" }}
<section class="section">
  <main>
    <article class="is-size-5">
      <section class="section hero is-small">
        <div class="hero-body">
          <h1 class="title is-3">{{ .Title }}</h1>

{{ partialCached "risk-guide" "" }}

{{- $details := slice -}}
{{- $owners := slice -}}
{{- range (where .Site.Pages "Section" "projects") -}}
  {{- if .Params.tm.owner -}}
    {{- $owners = $owners | append .Params.tm.owner -}}
  {{- end -}}
  {{- if .Params.agreements.grantee -}}
    {{- $owners = $owners | append .Params.agreements.grantee -}}
  {{- end -}}
  {{- if .Params.org.name -}}
    {{- $owners = $owners | append .Params.org.name -}}
  {{- end -}}
{{- end -}}
{{- $owners = sort (uniq $owners) -}}

{{- $riskColors := dict
      "Low" "is-success"
      "Mild" "is-info"
      "High" "is-warning"
-}}

{{- range $owners -}}
  {{- $owner := . -}}

  {{ $foundOwner := false }}
  {{- range (where $.Site.Pages "Section" "orgs") -}}
  {{- if eq .Title $owner -}}
    {{ $foundOwner = true }}
    <a href="{{ .RelPermalink }}">
    <div class="notification mb-4">
    <h2 class="subtitle is-4 mb-3">{{ .Title }}</h2>
  {{- end -}}
  {{- end -}}
  {{ if not $foundOwner }}
    {{ errorf "Organization not found: %s" $owner }}
  {{ end }}

  {{- range (where $.Site.Pages "Section" "projects") -}}
    {{- if or (eq .Params.tm.owner $owner) (eq .Params.agreements.grantee $owner) (eq .Params.org.name $owner) -}}
      {{- $ctx := partial "result" . -}}
      {{- $color := index $riskColors $ctx.risk -}}
      {{- if .Params.rugpulled -}}
        {{- $color = "is-danger" -}}
      {{- end -}}
      <span class="tag {{ $color }} is-hoverable mb-2 mr-2 is-medium">{{ .Params.title }}</span>
    {{- end -}}
  {{- end -}}
  </div>
  </a>
{{- end -}}

        </div>
      </section>
    </article>
  </main>
</section>
{{- end -}}
