{{- define "extrahead" -}}
<meta name="description" content="Relicensing Monitor: {{ .Title }}">
{{- end -}}

{{ define "main" }}
<section class="section">
  <main>
    <article class="is-size-5">
      <section class="section hero is-small">
        <div class="hero-body">
          <h1 class="title is-3">{{ .Title }}</h1>


<div class="tags">
  {{ $orgTypeTag := "" }}
  {{- if eq .Params.type "ForProfit" -}}
  {{ $orgTypeTag = "For Profit" }}
  {{- else if eq .Params.type "Person" -}}
  {{ $orgTypeTag = "Individual" }}
  {{- else if eq .Params.type "NonProfit" -}}
  {{ $orgTypeTag = "Nonprofit" }}
  {{- else if eq .Params.type "Unknown" -}}
  {{- else -}}
    {{ errorf "Unknown org type %s" .Params.type }}
  {{- end -}}

  {{ if $orgTypeTag }}
  <span class="tag is-hoverable is-medium">
    {{ $orgTypeTag }}
  </span >
  {{ end }}

  {{ if .Params.taxId }}
  <a class="tag is-hoverable is-medium" href="{{ .Params.filing }}">
    Tax ID: {{ .Params.taxId }}
  </a>
  {{ end }}
</div>

{{ if .Params.mission }}
<div class="notification">
<div class="subtitle is-4 mb-3">Mission Statement</div>
{{ .Params.mission }}
</div>
{{ end }}

<h2 class="title is-3 mt-6">Projects</h2>

{{- $riskColors := dict
      "Low" "is-success"
      "Mild" "is-info"
      "High" "is-warning"
-}}

{{ $orgId := .Title }}

{{- range (where $.Site.Pages "Section" "projects") -}}
  {{- if or (eq .Params.tm.owner $orgId) (eq .Params.agreements.grantee $orgId) (eq .Params.org $orgId) -}}
    {{- $ctx := partial "result" . -}}
    {{- $color := index $riskColors $ctx.risk -}}
    {{- if .Params.rugpulled -}}
      {{- $color = "is-danger" -}}
    {{- end -}}
<a href="{{ .RelPermalink }}">
<div class="notification {{ $color }} mb-5">
<h3 class="subtitle is-4 mb-3">{{ .Params.title }}</h3>
{{ .Params.summary }}
</div>
</a>
  {{- end -}}
{{- end -}}

{{ partialCached "risk-guide" "" }}

        </div>
      </section>
    </article>
  </main>
</section>
{{- end -}}
